.concerts{
    display:block;
    position:relative;
    z-index: -2;
}

.concert-grid{
    /* max-width:75%; */
    float: left;
    margin-left: 1em;
    margin-right: 1em;
}

/* .concert-grid ul{
    height: auto; 
    width: auto; 
    max-width: 550px; 
    max-height: 400px;
} */

.favorites-list{
    text-align: left;
}
  

  .column {
    float: left;
  }
  
  /* Left column */
  .column.side {
    width: 33%;
  }
  
  /* main column */
  .column.main {
    width: 66%;
  }

  .profilepic2{
    border-radius: 50%;
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column.side, .column.middle, .column.main {
      width: 100%;
    }
  }