.dark {
    background-color: rgb(16, 14, 39);
    color: #fff;
}

.dark a:hover{
    color:gold;
}

.light {
    background-color: #fff;
    color: rgb(16, 14, 39);
}

.light a:hover{
    color:midnightblue;
}