.profilepic{
    border-radius: 50%;
    max-width: 40%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2%;
}

.Home{
    text-align: center;
}

.typing-animation{
    position:relative;
    z-index: -1;
}