
.Home{
    text-align: center;
}

.prof-journey{
    text-align: left;
    margin-left: 5em;
}

.home-timeline{
    position:absolute;
    z-index: -1;
    left:0px;
    margin-left: auto;
    margin-right: auto;
    /* height:20em;
    overflow: scroll; */
}

.typing-animation{
    position:relative;
    z-index: -1;
    padding-bottom: 1em;
}

.home-images-block {
    max-height: 100%;
    z-index:-2;
    position:relative;
}

.profilepic{
    border-radius: 50%;
    max-width: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1%;
}

.nyc{
    position:absolute;
    width: 100%;
    left: 0px;  
    object-fit:cover;
    z-index:-2;
    opacity:.75;
    height: 102%;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

.newyorkpin{
    color:white;
    margin-top: 0;
    text-shadow: 1px 5px 10px black;
    ;
}