.navbar {
    height: 4em;
    z-index: 1000;
    position: fixed;
    top: 0; 
    width: 100%;
    /* overflow: hidden; */
    background-color: rgba(107, 103, 192, 0.854);
}

.rk-logo{
    width: 90%;
    float: left;
    position: relative;
    margin: 15px 15px 15px 10px;
    overflow: hidden;
}

.rk-logo-mobile{
    display:none;
}

.button-darkmode{
    border-radius: 50%;
    font-size: x-large;
    background-color: rgb(16, 14, 39);
    border-style: none;
    transition: 0.5s;
  }

.nav-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.stylizedsections{
    width: 100%;
    display: flex;
}

.logo {
    width: 100%;
}

.menu-icon {
    display: none;
}

.menu-icon rect {
    fill: gold;
}

.navlinks a{
    padding: 1.5em;
    margin: -1em;
    display: inline-block;
}

.navlinks li a:hover {
    color: white;
}

.navlinks ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.navlinks ul li:not(:last-child) {
    margin-right: 60px;
}

.navlinks ul a {
    font-size: 1.15em;
    color: #e7e7fa;
    text-decoration: none;
    font-weight: bold;
}

.linkedin-logo{
    height: 40px;
    display: flex;
    padding: 1.5em;
    margin: -1em;
    align-content: center;
}

.navlinks ul a.active {
    color: #574c4c;
    font-weight: 500;
    position: relative;
}

@media (max-width: 992px) {
    .navlinks a{
        padding: 5px;
        display: inline-block;
    }

    .linkedin-logo{
        display: flex;
        padding: 1.5em;
        margin: -.5em;
    }

    .navlinks ul{
        align-items: center;
    }

    .navlinks ul li:not(:last-child) {
        margin-right: 40px;
    }

}

@media (max-width: 768px) {
    .navlinks ul li:not(:last-child) {
        margin-right: 30px;
    }

    .navlinks a{
        padding: 10px;
        display: inline-block;
    }

    .navlinks ul{
        align-items: center;
    }

    .rk-logo{
        display:none;
    }

    .rk-logo-mobile{
        display:block;
        height: 3.5em;
        padding-left: 1em;
    }

    .button-darkmode{
        margin-left: 1.5em;
    }

}

@media (max-width: 600px) {
    .menu-icon {
        display: block;
        cursor: pointer;
    }

    .rk-logo{
        display:block;
    }

    .rk-logo-mobile{
        display:none;
    }

    .navlinks {
        position: absolute;
        right: 0;
        top: 4em;
        background-color: rgb(19, 19, 72);
        width: 0px;
        height: calc(100vh - 60px);
        transition: all 0.3s ease-in;
        overflow: hidden;
    }

    .button-darkmode{
        margin: 10px;
        margin-right: 20px;
    }

    .navlinks.active {
        width: 200px;
        position:absolute;
        z-index: 2;
    }

    .navlinks ul {
        display: flex;
        flex-direction: column;
    }

    .navlinks ul li {
        margin-right: unset;
        margin-top: 22px;
        font-size:x-large;
    }

    .navlinks ul a {
        font-size: 1em;
        color: #e7e7fa;
        text-decoration: none;
        font-weight: bold;
    }

    .navlinks a{
        padding: .75em;
        display: inline-block;
    }

    .linkedin-logo{
        width: 65%;
        height: auto;
        display: flex;
        padding: 1em;
        margin: -1em;
    }

    .stylizedsections{
        width: 100%;
        display: flex;
    }

}