.navbar {
    height: 60px;
    /* overflow: hidden; */
    position: relative;
    background-color: rgba(56, 51, 137, 0.854);
}

.rk-logo{
    width: 50px;
    float: left;
    position: relative;
    margin: 15px 15px 15px 10px;
    border-radius: 50%;
}

.nav-container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logo {}

.menu-icon {
    display: none;
}

.navlinks {
}

.navlinks a:hover {
    color: white;
}

.navlinks ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.navlinks ul li:not(:last-child) {
    margin-right: 60px;
}

.navlinks ul a {
    font-size: 16px;
    font-weight: 400;
    color: #c6c5eb;
    text-decoration: none;
    font-weight: bold;

}

.navlinks ul a.active {
    color: #574c4c;
    font-weight: 500;
    position: relative;
}

@media (max-width: 768px) {
    .navlinks ul li:not(:last-child) {
        margin-right: 30px;
    }
}

@media (max-width: 600px) {
    .menu-icon {
        display: block;
        cursor: pointer;
    }

    .navlinks {
        position: absolute;
        right: 0;
        top: 60px;
        background-color: #1b1582;
        width: 0px;
        height: calc(100vh - 60px);
        transition: all 0.3s ease-in;
        overflow: hidden;
    }

    .navlinks.active {
        width: 270px;
    }

    .navlinks ul {
        display: flex;
        flex-direction: column;
    }

    .navlinks ul li {
        margin-right: unset;
        margin-top: 22px;
    }
}