.tech-skills-list{
    padding-left: 0px;
    text-align: center;
    list-style:none;
    width:33%;
    color: rgb(19, 14, 10);
    /* background-color: rgb(240, 232, 253); */
    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.112); */
}

.tech-skills-list li{
    width: auto;
}

.skills-blocks{
    display: flex;
    justify-content:space-evenly
}

/* .pdf-button{
    position:static;
    z-index: -2;
} */